body {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
}

#title {
  display: flex;
  gap: 20px;
  font-size: larger;
  margin: auto;
  width: 600px;
  height: 100px;
}

#links {
  width: 200px;
  margin-left: auto;
}

#links a {
  color:red;
}

p {
  color:white;
}

h1 {
  color: white;
}